{% extends 'base.html' %} {% block body %}
<h1 class="display-2">About Us</h1>
    <p> Developers: Morgan Albertsen & Jetta Golembiewski</p>

    <p> We are both Seniors at the University of Iowa studying Business Analytics and Information Systems. Jetta is from Genoa, Illinois and will be working for Marmon FoodService Technologies upon graduation in May as a Assistant IT Project Manager. Morgan will be working for CliftonLarsenAllen as an Tax Associate in August after graduating and is from Mundelein, Illinois.</p>

    <img src="{{ url_for('static', filename = 'images/morgan_jetta.JPG') }}" class="rounded mx-auto d-block" alt="Morgan & Jetta" width="200"/>

    <div class="card border-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Fun Fact!</div>
        <div class="card-body">
          <h5 class="card-title">How long have Jetta and Morgan known eachother?</h5>
          <p class="card-text">We have known eachother since Freshman year of College! Both of us lived on the same floor in Slater Hall.</p>
        </div>
      </div>
      
    {% endblock %}


